

{% load static %}
<link rel="stylesheet" href="{% static 'loboCozinha/css/header.css' %}">
<header>
    <div>
        <img src="{% static 'loboCozinha/imgs/logo.png' %}" alt="Logo" />
        
        <nav>
            <ul>
                <li><a href="#">Fale Conosco</a></li>
                <li><a href="#">Cardápio</a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Sobre nós</a></li>
                <li><a href="#">Promoções e eventos</a></li>
            </ul>
        </nav>


    {% include 'ui/button/index.html' with text='Reservar agora' %}
    </div>
</header>
