

{% load static %}
<link rel="stylesheet" href="{% static 'loboCozinha/css/header.css' %}">
<header>
    <div>
        <img src="{% static 'loboCozinha/imgs/logo.png' %}" alt="Logo" />
        
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Noticias</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">sobre nós</a></li>
            </ul>
        </nav>

        <button>Reserva agora</button>
    </div>
    

</header>
