

{% extends "ui/carrossel/index.html" %}



{% comment %}
    o que ta dentro do bloco carrocel_items é um json, que o js do carrossel vai ler e montar o carrossel
{% endcomment %}

{% block carrocel_items %}
    [
        { "src": "{% static 'loboCozinha/imgs/prato1.png' %}", "nome": "Mousse de Chocolate Belga" },
        { "src": "{% static 'loboCozinha/imgs/prato2.png' %}", "nome": "Prato Exemplo 2" },
        { "src": "{% static 'loboCozinha/imgs/prato3.png' %}", "nome": "Prato Exemplo 3" },
        { "src": "{% static 'loboCozinha/imgs/prato4.png' %}", "nome": "Prato Exemplo 1111" },
        { "src": "{% static 'loboCozinha/imgs/prato5.png' %}", "nome": "Prato Exemplo 5" },
        { "src": "{% static 'loboCozinha/imgs/prato5.png' %}", "nome": "Prato Exemplo 5" }
    ]
{% endblock %}