
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.formulario-de-reserva-container {
    width: 100%;
    padding: 10vh;
    padding-left: calc( 100vw * (321/1600) );
    padding-right: calc( 100vw * (321/1600) );
    background-color: #DED7C2;
    color:#3F2305;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    & h1 {
        color:#3F2305;
        font-family: Montserrat, sans-serif;
        font-weight: 700;
        line-height: 56px;
        font-size: 64px;
        margin-bottom: 26px;
    }
}

.linha {
    width: 10%;
    height: 5px;
    background-color: #3F2305;
    margin-bottom: 26px;
}

.formulario-de-reserva {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    max-width: 958px;
    width: 100%;

    & input,& textarea {
        border-radius: 4px;
        width: 100%;
        padding: 5%;
        max-width: calc(100vw * 855/1600);
        height: calc(100vw * 95/900);
        max-height: 95px;
        color: #737373;
        background-color: transparent;
        border: 1px solid #3F2305;
        font-size: calc(100vh * 20/900);
    }

    textarea {
        min-height: calc(100vw * 210/900);
        max-height: 200px;
    }

    & label {
        font-family: Montserrat, sans-serif;
        font-weight: 400;
        font-size: 20px;
        padding: 0;
        margin-top: 8px;
        margin-bottom: 1px ;
    }

    & button {
        margin-top: 20px;
        width: calc(100vw * 342/1600);
        max-width: 342px;
        min-width: 200px;
        max-height: 109px;
        min-height: 90px;
        height: calc(100vw * 109/900);
        background-color: #3F2305;
        color: #FFFFFF;
        font-family: Montserrat, sans-serif;
        font-weight: 600;
        font-size: calc(100vw * 20/900);
        border: none;
        border-radius: 10px;
        cursor: pointer;
        align-self: center;

        &:hover {
            background-color: #5A3411;
        }
    }
    
}
.aviso {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}