
<footer>

    {% load static %}
    <link rel="stylesheet" href="{% static 'loboCozinha/css/footer.css' %}">
    <div class="grid">
        <div style="grid-area: a;">
            <img src="{% static 'loboCozinha/imgs/logo2.png' %}" alt="Logo" />
        </div>
        <div style="grid-area: b;">
            <h1>Contato</h1><br>
            <p>+55 84 99999-9999</p>
            <p>contato@lobocozinha.com</p><br>
            <p>Rua ali perto, 89 - Barra da Tijuca</p>
            <p>Rio de Janeiro - RJ</p>
        </div>
        <div style="grid-area: c;">
            <h1>Informações</h1>
            <ul>
                <li><a href="#">Reservas</a></li>
                <li><a href="#">Personal Chef</a></li>
                <li><a href="#">Buffet Personalizado</a></li>
                <li><a href="#">Jantar Temático</a></li>
            </ul>
        </div>
    </div>
    <p class="copy">EJECT &copy; 2025 - alguns direitos reservados</p>
</footer>