


<div class="carrossel">
    {% load static %}
    <link rel="stylesheet" href="{% static 'loboCozinha/css/carrocel_de_pratos.css' %}">
    <button class="leftbt">&#10094;</button>
    <div class="carrossel-container" id="carrosselContainer">
    </div>
    <button class="rightbt">&#10095;</button>

    <script src="{% static 'loboCozinha/js/carrossel.js' %}"></script>
    <!-- Dados do carrossel em JSON; o módulo vai detectar e iniciar sozinho -->
    <script type="application/json" data-items>
        [
            { "src": "{% static 'loboCozinha/imgs/prato1.png' %}", "nome": "Mousse de Chocolate Belga" },
            { "src": "{% static 'loboCozinha/imgs/prato2.png' %}", "nome": "Prato Exemplo 2" },
            { "src": "{% static 'loboCozinha/imgs/prato3.png' %}", "nome": "Prato Exemplo 3" },
            { "src": "{% static 'loboCozinha/imgs/prato4.png' %}", "nome": "Prato Exemplo 4" },
            { "src": "{% static 'loboCozinha/imgs/prato5.png' %}", "nome": "Prato Exemplo 5" },
            { "src": "{% static 'loboCozinha/imgs/prato5.png' %}", "nome": "Prato Exemplo 5" }
        ]
    </script>
</div>